*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-align: center;
    
}

body{
    
}

input{
    text-align: center;
}

input[type="text"]{
    height:50px;
    width:600px;
    background-color: aquamarine;
    font-size: 30px;
    
}

input[type="submit"]{
    height:50px;
    width:100px;
    background-color: aquamarine;
    font-size: 30px;
    
}